h1, h2, p {
    color: black;
    font-family: sans-serif;
    width: 50%;
}

button {
    color: white;
    background-color: #882026;
    font-size: 16px;
    border: 0px;
    padding: 10px;
}


#image-container {
    background: url('https://assets-global.website-files.com/5cd091cfb5499f22bdf72905/5d1133da829994859a190d12_website-home4.jpg');
    background-position: center;
    padding: 100px;

}

#text-container {
    text-align: center;
}