HTML CSSResult Skip Results Iframe
/* Your code here: */


#id2 {
  color: green;
  backround-color: white;
  }

p {
  color: green;
  background-color: white;
  }

h3 {
  color:red;
  background-color: grey;
  }

#id1 {
  color: red;
  background-color: white;
  }


span {
  color: white;
  background-color: blue;
  }

p.class1 {
  color: yellow;
  background-color: black;
  }

.class1 {
  color: white;
  background-color: black;
  }



Resources1× 0.5× 0.25×Rerun